
btn-danger:focus {
    outline: none;
    box-shadow: none;
}
btn:focus, a:focus
{
         outline: none;
}
.navbar-toggler:focus
{
         outline: none !important;
         box-shadow: none;
}
.fixed-item{
    position: absolute;
    top: 3rem;
}

.relative-item{
    position: relative;
}

.self-centered-item{
    align-self: center;
}