.menu-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-item{
    background-color: thistle;
}

#user_img{
    border-radius: 12px;
    width: 1.5rem;
    height: 1.5rem;
    
}
.mat-button{
    padding: 10px 0px;
    line-height: 15px;
}

.white-to-grey{
    background-color: white;
}

.white-to-grey:hover{
    background-color: rgb(221, 218, 218);
}

.tooltip-tv{
    position: fixed;
    left: 12.5rem;
    bottom: 1.3rem;
    opacity: 0;
    background-color: rgb(242, 242, 248);
    border-radius: 1rem;
    padding:0.4rem 0.7rem;
    font-weight: 700;
    color: rgb(48, 49, 49);
    transform: translateY(-10%);
    display: none;
    transition: 0s all ease-in;
}
.logout-icon{
    transition-property: all;
    transition-duration: 1s;
}
.logout-icon:hover .tooltip-tv{
    display: inline;
    opacity: 1;
    transition: all 1s ease-in;
    
    transform: translateY(0%);
}