.menu-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-item{
    background-color: thistle;
}

#user_img{
    border-radius: 12px;
    width: 1.5rem;
    height: 1.5rem;
    
}
.mat-button{
    padding: 10px 0px;
    line-height: 15px;
}